@import "header";
@import "first-screen";
@import "info";
@import "dep";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.row{
  display: flex;
  flex-direction: row;
}